*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


h1{
  margin-bottom: 20px;
}

.list{
  list-style: none;
}

li{
  margin: 15px;
}
.degrees{
  font-size: 30px;
  font-style: bold;
}

.card{
  text-align: center;
  border: 2px solid white;
}
